/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: bisque;
}

.lista-tarefas {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#tarefa {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#adicionar {
    padding: 10px 20px;
    background-color:green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#tarefas {
    list-style-type: none;
    padding: 0;
}

#tarefas li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

#tarefas li button {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
